.button {
  padding: var(--space-1) var(--space-2);
  border-radius: 0.25rem;
  font-size: var(--font-size-small);
  font-weight: 500;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  border: none;
  background-color: var(--blue-default);
  color: #ffffff;
}

.button:hover {
  background-color: var(--blue-darker);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
