.header {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.logoText {
  font-size: 1.125rem;
  font-weight: 500;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navLinkGithub {
  display: flex;
}


