.link {
  transition: all 150ms ease-in-out;
  border-radius: 0.25rem;
  background-size: 0% 100%;
  margin: calc(var(--space-half) * -1);
  padding: var(--space-half);
  background-position: center;
  background-repeat: no-repeat;
}

.blue {
  color: #3074e3;
  background-image: linear-gradient(rgba(31, 82, 190, 0.1), rgba(31, 82, 190, 0.1));
}

.blue:hover {
  color: #1f52be;
  background-size: 100% 100%;
}

.blue:active {
  color: #0d225c;
}

.gray {
  color: #111827;
  background-image: linear-gradient(rgba(55, 65, 81, 0.1), rgba(55, 65, 81, 0.1));
}

.gray:hover {
  color: #374151;
  background-size: 100% 100%;
}

.gray:active {
  color: #232933;
}
