.fileLabel {
  font-size: 1rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  cursor: pointer;

  // TODO: active, hover, focus styles.
}

.fileInput {
  display: none;
}

.error {
  color: red;
  // TODO: color pass.
}
